.heading-container{
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.studentHeading{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.addStudent{
    border-radius: 20px;
    background-color: skyblue;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
}

.navLink{
    text-decoration: none;
    color: white;
}

.navLink:hover{
    color: pink;
}

.table{
    width: 80%;
    margin: auto;
}

.tableHead{
    font-weight: bold;
}